<div class="row"  style="margin-bottom: -15px; margin-top:-36px;direction: ltr;">
  <div class="col-xxxl-12 cardstyle">
    <nb-card>
      <nb-card-body style="display: flex;justify-content: flex-end;">
        <nb-actions size="small">
          <nb-action>
            <p style="font-size:20px;font-weight:600;">ردیابی</p>
          </nb-action>
        </nb-actions>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-xxl-12">
    <ngx-tracking-gps></ngx-tracking-gps>
  </div>
</div>
