<div class="row customStyle">
  <div class="col-xxxl-12 cardstyle">
    <nb-card>
      <nb-card-body style="display: flex;justify-content: flex-end;">
        <nb-actions size="small">
          <nb-action>
            <p style="direction:rtl;font-size:20px;font-weight:600">مکان یابی</p>
          </nb-action>
        </nb-actions>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row"> 
  <div class="col-xxxl-9 col-xxl-12 col-md-9">
    <app-map></app-map>
  </div>
  <div class="col-xxxl-3 col-xxl-4 col-md-3" style="width:100%;">
    <ngx-device-list></ngx-device-list>
  </div>
</div>
